<div class="chat-input-container">
  <input
    #messageInput
    type="text"
    [(ngModel)]="messageText"
    (keyup.enter)="sendMessage()"
    placeholder="Type your message here"
    class="chat-input"
    [disabled]="disabled"
  />
  <button 
    (click)="sendMessage()" 
    class="send-button"
    [disabled]="disabled"
    [class.disabled]="disabled"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
      <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
    </svg>
  </button>
</div>